/* font styles */
.azeret-mono-normal> {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* banner styles */

.banner-container {
    background-image: url("../assets/Hero-bg.png");
    text-align: center;
    padding: 40px 200px;
}

.banner-container img {
    width: 240.28px;
    height: 240px;
    margin-bottom: 32px;
}

.banner-container h2 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin: 24px 0px;
}

.banner-container p {
    color: #0D1321;
}

.contact-btn {
    width: 208px;
    height: 63px;
    margin: 32px 0px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* web-development styles */

.web-developer {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 75px;
    padding: 80px 95px;
}

.section-banner {
    text-align: center;
}

.section-banner h3 {
    font-weight: 800;
    font-size: 32px;
}

.section-banner p {
    color: rgb(13, 19, 33);
}

.web-development-steps {
    display: flex;
    padding: 48px;
    margin: 32px 0px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.web-development-step h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.web-development-step p {
    color: #0D1321;
}

.web-development-steps img{
    margin: 32px;
}

.btn-primary {
    width: 171px;
    height: 47px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    margin: 32px 0px;
    cursor: pointer;
    border: 1px solid rgb(13, 19, 33);

}